body {
    background-color: gray;
}
header  {
    background-color: white;
}
nav {
    background-color: white; 
}
section {
    background-color: white;
}
article {
    background-color: white;
}
aside {
    background-color: white;
}
footer {
    background-color: white;
}